@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

.mainHome {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.template {
  width: 90%;
  margin-top: 50px;
  margin-left: 65px;
}

.grid-container {
  width: 90%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

/* remove some repetative content */

.grid-item img {
  height: 100%;
  width: 100%;
}



.grid-item:hover img {
  border: 2px solid blue;
  opacity: 0.2;
}

/* CSS for button of "useTemplate" */

.grid-item {
  position: relative;
  width: 100%;
  background-image: linear-gradient(grey, black);
}

.Mybtn {
  display: none;
}

.grid-item:hover button {
  display: flex;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* media queries for making homePage responsive */

@media (max-width:800px){ /*media queries to show two template on a line*/
  .grid-container{
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width:600px){
  .grid-container{
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }

  .mainHome{ /*to maintain width of navbar width*/
    width:85%;
  }
  .grid-container{
    margin-left: 45px;
  }
}

/* Media queries end */