@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

.mainHome {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.template {
  width: 90%;
  margin-top: 50px;
  margin-left: 65px;
}

.grid-container {
  width: 90%;
  margin: 50px auto;
  display: grid;
  grid-template-rows: 500px;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

.grid-item-1 img {
  height: 100%;
  width: 100%;
}

.grid-item-2 img {
  height: 100%;
  width: 100%;
}

.grid-item-3 img {
  height: 100%;
  width: 100%;
}

.grid-item-4 img {
  height: 100%;
  width: 100%;
}


.grid-item:hover img {
  border: 2px solid blue;
  opacity: 0.2;
}

/* CSS for button of "useTemplate" */

.grid-item {
  position: relative;
  width: 100%;
  background-image: linear-gradient(grey, black);
}

.Mybtn {
  display: none;
}

.grid-item:hover button {
  display: flex;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}