.previewContainer{
    display: flex;
    justify-content: space-around;
}

.templateContainer{
    border:1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0 grey;
    font-size: 0.6875rem;  
    width:60%;
    margin-bottom: 3.125rem;
}

.inputFileName{
    display: flex;
    flex-direction: column;
}

.inputFileName input{
    margin:1.875rem 0;
}

.buttonGroup{
    box-sizing: border-box;
}

.buttonGroup button{
    width: 6.25rem;
}

#resumeHeading{
    margin:3.125rem 4.0625rem;
}

