.formMainContainer{
    margin: 2.5rem 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.formMain{
    width:50%;
}

.form-navbar {
    position: static;
    width: 260px;
    height: 270px;
    cursor: pointer;
    border-radius: 0.3rem;
    box-shadow: 2px 2px 5px grey;
    padding: 0.5rem 0;
    margin-bottom: 20px;
}

.form-nav-head {
    margin: 8px;
    padding: 8px;
    padding-left: 40px;
    color: #B6B6B4;
}

.form-navbar hr {
    color: #dbdbdb;
}

.form-nav-head-active {
    color: #007FFF;
}


.btn-form-group{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:10rem;
}