@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
#template {
  margin: 1.25em;
  line-height: 2;
  font-family: "Ubuntu", sans-serif;
  padding: 0 0 6.25em 0;
  color: #6495ed;
}

/* This is header css */

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12.5em;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.3125em;
  width: 0.625em;
  background-color: #6495ed;
  border-radius: 100%;
  z-index: 1;
}
.profile span {
  color: white;
  z-index: 2;
  font-size: 2.1875em;
  font-weight: bolder;
  padding: 0;
}

#template hr {
  border: 0.3125em solid #6495ed;
  border-radius: 0.3125em;
}

.headerBlock {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.headerBlock h2{
  font-size: 1.875em;
}

.headerBlock div {
  padding: 0 2.5em;
}

.contDetail {
  line-height: normal;
}

/* This is summary css */
.summary h2{
  font-size: 1.875em;
}
/* this is professional experience section*/
.proffExperience {
  display: flex;
  justify-content: space-between;
}

.proffExperience h3{
  font-size: 1.625em;
}

.experience {
  width: 69%;
  color: black;
}

.experience h4 {
  font-size: 1.25em;
}

/* This is education css */

.education {
  display: flex;
  justify-content: space-between;
}

.education h3{
  font-size: 1.625em;
}

.eduDetails {
  width: 75%;
  color: black;
}

/* key skill CSS */

.keySkills ul {
  color: black;
}

.keySkills h4{
  font-size: 1.25em;
}

.contactDetail ul li {
  font-size: 0.9375em;
  font-weight: bold;
}

.keySkill ul li {
  font-size: 0.9375em;
  font-weight: bold;
}
